<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" href="public/css/fontawesome.min.css">
    <link rel="stylesheet" href="/public/css/chatui.css">
    <script src="/public/tinymce/js/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="/public/css/docs.css">
    <script>tinymce.init({selector:'textarea'})</script>
    <title>docs</title>
</head>
<body>
    <div class="body-container">
        <nav>

            <div class="nav-left">

                <div class="logo-student">
                    <div><i class="fa fa-graduation-cap fa-2x"></i></div>   
                </div>

                <div class="web-name">
                    <h3 style="color: rgb(214, 217, 219);"><b>Easy <span style="color: dodgerblue;">Schoolz</span></b></h3>
                </div>
                        
            </div>
    
            <div class="nav-right">

                <script>
                    function readNotification(self){
                        var _id = self.getAttribute("data-id");
                        var ajax = new XMLHttpRequest();
                        ajax.open("POST","/read-notifictaion",true);
                        ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                        ajax.onreadystatechange = function(){
                            if(this.readyState==4 && this.status==200){
                                var response = JSON.parse(this.responseText);
                                if(response.status=="error"){
                                    alert(response.message);
                                }
                            }
                        }
                        ajax.send("notificationId="+_id);
                        return true;
                    }

                    
                    var ajax = new XMLHttpRequest();
                    ajax.open("GET","/get_user",true);

                    ajax.onreadystatechange = function(){
                        if(this.readyState==4 && this.status==200){
                            var response = JSON.parse(this.responseText);
                            if(response.status=="success"){
                                window.user = response.user;
                                var html = "";
                                window.user.notifications = window.user.notifications.reverse();
                                for(var a=0;a<window.user.notifications.length;a++){
                                    var notification = window.user.notifications[a];
                                    if(!notification.is_read){
                                        if(notification.type=="new_comment"){
                                            html += '<a class="dropdown-item" onclick="return readNotification(this);" data-id="'+notification._id+'" href="#">New comment</a>';
                                        }
                                    }
                                }
                                document.getElementById("unread-notifications").innerHTML = html;
                            }else{
                            alert(response.message)
                            }  
                        }
                    };

                    ajax.send()
                </script>

                <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                   <%if(profile.image){%>
                    <img src="<%=profile.image%>">
                    <%}else{%>
                        <img src="<%=profile%>">
                    <%}%>
                </div>
            </div>
    
            <!-------- Settings Menu -------->
            <div class="settings-menu">
                <div id="dark-btn">
                    <span></span>
                </div>
                <div class="settings-menu-inner">
                    <div class="user-profile">
                        <%if(profile.image){%>
                            <img src="<%=profile.image%>">
                            <%}else{%>
                                <img src="<%=profile%>">
                            <%}%>
                        <div>
                            <p><%=users.name%></p>
                           <a href="/profile">Your Profile</a>
                        </div>
                    </div>
                    <hr>
                    <div class="settings-links">
                        <img src="/public/images/help.png" class="settings-icon">
                        <a href="#">Help</a>
                    </div>
                    <hr>
                    <div class="settings-links">
                        <img src="/public/images/logout.png" class="settings-icon">
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-docs">

            <div class="editor">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="sub-editor-select">
                <div class="selector-1 ">

                    <div class="selector-1-1">

                        <span>
                            <i class="fa fa-plus fa-2x"></i>
                        </span>
                        
                    </div>
                   
                </div>

                <div class="selector-1 selector-1-sep">
                    <img src="/public/images/member-3.png" alt="">

                </div>

                <div class="selector-1 selector-1-sep">
                    <img src="/public/images/member-4.png" alt="">
                </div>

                <div class="selector-1 selector-1-sep">
                    <img src="/public/images/member-5.png" alt="">
                </div>

            </div>
           
        </div>


        
    </div>
</body>
</html>